body{
    overflow: hidden;
    background-color: #efefef;
    margin:0;
    padding:0;
    /*box-sizing: border-box;*/
}

/*头部*/
.header{
    width:100%;
    height:2.875rem;
    background-color: #808080;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 0.75rem;
    margin-bottom:0.875rem;
    box-sizing: border-box;
    position:fixed;
    left:0;
    top:0;
}
.header h4{
    margin:0;
    font-size:1.125rem;
    font-weight:300;
    color:#fefefe;
    display: inline;
}


/*列表项*/
.list{
    margin-top:3.75rem;
}
.list ul{
    margin:0;
    padding:0;
}
.list ul li{
    padding:1rem 1.375rem 1.25rem 1rem;
    background-color: #fff;
    margin-bottom:0.25rem;
}
.list li div{
    float:left;
    width:19.5rem;
}
li div .mark{
    font-size:0.75rem;
    display: block;
    width:2.5rem;
    height:1.25rem;
    border:1px solid #95989a;
    color:#95989a;
    border-radius:1rem;
    text-align: center;
    line-height:1.25rem;
    float:left;
    margin-right:0.5rem;
}

li div .address{
    display: block;
    font-size:1rem;
    color:#292929;
    margin-bottom:0.75rem;
}
li div .name{
    clear:both;
    display: block;
    float:left;
    font-size:1rem;
    color:#95989a;
    margin-right:1.875rem;
}

.list a img{
    margin-top:1rem;
    padding-bottom:1rem;
}
