body{
    overflow: hidden;
    background-color: #efefef;
    margin:0;
    padding:0;
    /*box-sizing: border-box;*/
}

/*头部*/
.header{
    width:100%;
    height:2.875rem;
    background-color: #808080;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 0.75rem;
    margin-bottom:0.875rem;
    box-sizing: border-box;
}
.header h4{
    margin:0;
    font-size:1.125rem;
    font-weight:300;
    color:#fefefe;
    margin-right:8.625rem;
}

/*列表项*/
.list ul{
    margin:0;
    padding:0;
}
.list ul li{
    padding:1rem;
    background-color: #fff;
    margin-bottom:1px;
}
.list li span{
    color:#a1a4a5;
    margin-right:0.5rem;
}
.list li input{
    font-size:1rem;
    color:#0d0d0d;
    width:9rem;
    margin-right:1rem;
    border:none;
    outline:none;
}
.list .code span{
    margin-right:1.5rem;
}
.list .mobile .getCode{
    width:5.25rem;
    height:1.875rem;
    font-size:0.875rem;
    color:#858585;
    border:1px solid #c1c1c1;
    background-color: #fff;
    border-radius: 0.25rem;
    outline:none;
}
.list .code{
    margin-bottom:1.688rem;
}

.btn{
    width:19.563rem;
    height:3.125rem;
    background-color: #a5a5a5;
    color:#e6e6e6;
    font-size:1.25rem;
    margin-left:1.938rem;
    outline:none;
    border:none;
    border-radius:0.5rem;
}



